.walkThroughPage > div {
  margin-bottom: 80px;
}
.walkThroughPage > img {
  width: 80%;
}
.walkThroughPage  img + img,
.walkThroughPage > img + h2 {
  margin-top: 60px;
}
.formula {
  font-style: italic;
  font-size: 2rem;
}
.accentFormula {
  font-size: 3rem;
  text-align: center;
}
.iterationsInput {
  padding: 0.2rem;
  margin-left: 1rem;
  font-size: 0.9rem;
}
